.impaktNotificationWrapper {
	color: white;
}
.impaktNotification {
	box-sizing: border-box;
	background-color: rgba(197, 94, 83, 1);
	color: white;
	margin-bottom: 16px;
	width: calc(100% - 16px);
	min-height: 200px;
	height: calc(100% - 16px);
	padding: 16px;
	z-index: 1000;
	font-size: 16px;
}
.impaktBtn {
	box-sizing: border-box;
	background-color: rgba(197, 94, 83, 1);
	border: 2px white solid;
	color: white;
	margin: 8px 0px 16px 0px;
}
.impaktBtn:hover {
	background-color: white;
	border: 2px white solid;
	color: rgba(197, 94, 83, 1);
}

.impaktOverlay {
	background-color: rgba(256, 256, 256, .8);
	position: fixed;
	top: 0;
	left: 0;
	width: 75vw;
	height: 100vh;
	z-index: -1;
}
.impaktWindow {
	background-color: white;
	border-left: 1px black solid;
	box-sizing: border-box;
	position: fixed;
	right: 0;
	width: 25vw;
	top: 0;
	bottom: 0;
	z-index: 1000;
	overflow-y: scroll;
}
.impaktHeader {
	background-color: #4A90E2;
	color: white;
	display: flex;
	align-items: center;
	height: 48px;
	padding: 8px;
	text-align: center;
	width: 100%;
}
.impaktTitle {
	box-sizing: border-box;
	font-size: 16px;
	margin-left: 40px;
	width: 100%;
}
.impaktOptions {
	display: block;
	width: 40px;
}
.impaktOptions button {
	background-color: rgba(0,0,0,0);
	border: 0;
	height: 100%;
	width: 100%;
}
.impaktContent {
	background-color: #F8F8F8;
	box-sizing: border-box;
	color: black;
	padding: 16px;
	overflow-y: scroll;
}
.assessment {
	background-color: white;
	display: flex;
	margin-bottom: 8px;
	border-left: 4px rgba(197, 94, 83, 1) solid;
}
.assessment h2 {
	box-sizing: border-box;
	padding: 8px;
}
.assessment img {
	box-sizing: border-box;
	padding: 16px;
	width: 80px;
	height: 80px;
}
.bold {
	font-weight: bold;
}
.justification {
	box-sizing: border-box;
	padding: 8px;
}
.justificationNotice {
	margin-top: 8px;
}
